%META:TOPICPARENT{name="ErrorMessagesS"}%
= Error Message: {{{Server/Workstation requirements not licensed}}} =

The "<code>[<nop>OpenLink][ODBC]Server/Workstation requirements not licensed</code>" error message typically indicates that a Workstation-class license has been deployed on a [[http://support.openlinksw.com/supportweb/LicenseTerminology#Operating%20System%20Types|Server-class OS]]. 

(The reverse is sometimes but rarely true.  Licenses permitting use on [[http://support.openlinksw.com/supportweb/LicenseTerminology#Operating%20System%20Types|Server-class OS]] are intended to always also permit use on [[http://support.openlinksw.com/supportweb/LicenseTerminology#Operating%20System%20Types|Workstation-class OS]], but errors sometimes occur in license generation.)

Our Support or Sales Team can provide you with a temporary Server-class license to confirm that this is the problem.  Once confirmed, we can help you purchase any appropriate upgrade.

Please note that [[http://uda.openlinksw.com/ee/|"Express" Edition]] drivers are generally licensed for use only on [[http://support.openlinksw.com/supportweb/LicenseTerminology#Operating%20System%20Types|Workstation-class OS]].  For most deployments on [[http://support.openlinksw.com/supportweb/LicenseTerminology#Operating%20System%20Types|Server-class OS]], you need to use a [[http://uda.openlinksw.com/st/|"Lite"]] or [[http://uda.openlinksw.com/mt/|"Enterprise"]] Edition driver.

==Evidence==

* License file (e.g., <code>virtuoso.lic</code>, <code>oplrqb.lic</code>, <code>sql_lt.lic</code>, <code>ee_inf_lt.lic</code>)
* Complete Operating System name and version