%META:TOPICPARENT{name="UDASystemRequirements"}%

==System Requirements==

===What network protocols does <nop>OpenLink Software support?  ===

Current <nop>OpenLink components support the TCP/IP protocol, the standard for most modern networks. 

<nop>OpenLink has limited, legacy support for the IPX/SPX protocol. Please ask, if you need such support.