%META:TOPICPARENT{name="UDASystemRequirements"}%

==System Requirements==

===What if my operating system version is older than the officially supported version? ===

<nop>Components from <nop>OpenLink Software are not designed for backward compatibility. They are not generally expected to function on older platforms.