%META:TOPICPARENT{name="UDASystemRequirements"}%

==System Requirements==

===Does <nop>OpenLink Software produce 16-bit drivers?===

<nop>OpenLink produced 16-bit components for Windows in UDA Release 1.x. These components are not available for general download. Existing holders of valid Release 1.x licenses with active Maintenance & Support Agreements may get fresh copies of these components upon request.