%META:TOPICPARENT{name="UDASystemRequirements"}%
==System Requirements==

===Prerequisites and System Requirements===

====Single-Tier "Express" Edition====

Current versions of <nop>OpenLink's "Express" Edition drivers are [[http://download.openlinksw.com|available]] for Mac OS X and Windows.

Express Edition drivers are not available for Linux or other UNIX-like platforms (Solaris, HP-UX, AIX, etc.).

A functional and recent Java Virtual Machine (JVM) is also required for use of "Express" Edition drivers.  <nop>OpenLink generally recommends using the latest JVM available through Software Update on Mac OS X, and from http://java.com/ for Windows.

====Single-Tier "Lite" Edition====

Current versions of <nop>OpenLink's "Lite" Edition components (ODBC drivers, JDBC drivers, OLE DB providers, ADO.NET providers) are [[http://download.openlinksw.com|available]] for Mac OS X, Windows, Linux, Solaris, AIX, and HP-UX.  Other ports may be available as custom builds or upon request.

Drivers for DB2, Informix, Ingres, Oracle, and Progress require a functional copy of the respective database's native client (i.e., DB2 Connect, Informix Client SDK, Ingres Net, Oracle Instant Client or OCI Client, Progress Client Networking or SQL-92 Client Access). 

====Multi-Tier "Enterprise" Edition====

Current versions of <nop>OpenLink's "Enterprise" Edition client components (ODBC drivers, JDBC drivers, ADO.NET providers) are [[http://download.openlinksw.com|available]] for Mac OS X, Windows, Linux, Solaris, AIX, and HP-UX; server components are [[http://download.openlinksw.com|available]] for all of these except Mac OS X.  Other ports may be available as custom builds or upon request.

Multi-Tier <nop>OpenLink server components (Request Broker and Database-specific Agents) for DB2, Informix, Ingres, Oracle, and Progress require a functional copy of the respective database's native client (i.e., DB2 Connect, Informix Client SDK, Ingres Net, Oracle Instant Client or OCI Client, Progress Client Networking or SQL-92 Client Access), or similar libraries typically included with the full database installation.

====Other====

You may require a compiler and library linker, if you intend to develop ODBC compliant applications or to relink <nop>OpenLink's Database-specific Agents or the iODBC Driver Manager. 

You can use the {{{find}}} command to search for compilers and library linkers on UNIX-like systems. {{{cc}}} is a C compiler, and {{{CC}}} is a C++ compiler. Other compilers generally include {{{cc}}} or {{{CC}}} in their names. {{{ld}}} is a library linker. 
 