==System Requirements==

* [[http://docs.openlinksw.com/virtuoso/databaseadmsrv.html#srvadminstallreqt|Virtuoso Base Installation Requirements]]
* [[http://docs.openlinksw.com/virtuoso/databaseadmsrv.html#DISKIO|Optimizing Disk I/O & Database Striping for Large Databases]]
* [[http://docs.openlinksw.com/virtuoso/rdfperformancetuning.html#rdfperfloadingunitpro|Configuring and Tuning Virtuoso for use as an RDF Data Store]]