/********************************************************************/
/* CSS stylesheet for OpenLink-specific modifications above DocBook */
/********************************************************************/

/* For use with Inclusion Engine */

#thecontent {                   
    background-color: white;
    padding: 1em;
}

#docsnavbar {
    float: left;
    clear: none;
    position: absolute;
    right: 1000px;
    top: 7em;
    white-space: wrap;
}

#docsnavbar ul.menu {
    white-space: normal;
    padding: 1em;
}

#docsnavbar ul.menu li {
    min-height: 2.25em;
    margin-bottom: 1em;
}

.tree_navigation li > a {
    height: initial;
}

/* Generic / standalone styles */

body, * {
    font-family: Verdana,​ Arial, ​sans-serif;
}

div.section {
    margin-top: 1em;
    margin-bottom: 2em;
}

h1, h2, h3, h4, h5, h6 {
    padding-top: 0.5em;
    padding-bottom: 0px;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
    color: red;
}

pre.programlisting, pre.screen, pre.computeroutput {
    font-family: courier, fixed;
    background-color: #F5F5F5;
    color: black;
    padding: 0.5em;
    margin: 1% 1% 1em 1%;
    border: dotted 1px #cdcdcd;
    max-width: 95%;
    overflow: auto;
}

div.note {
    background-color: #FAFADC;
    padding: 0.25em;
    border: solid 1px #ddd;
    font-size: 90%;
}

dl.toc dl {
    margin-bottom: 1em;
    display: block;
}

dl.toc dl dl {
    margin-bottom: 0em;
}

div.decimalstyle-contents table, div.table-contents table {
    border: solid 2px silver;
    border-collapse: collapse;
}

div.decimalstyle-contents table thead, div.table-contents table thead {
    background-color: #B6D1EA;
}

div.decimalstyle-contents table td, div.table-contents table td {
    border: solid 1px silver;
    padding: 0.25em;
}

table.simplelist, table.simplelist * {
    border: none !important;
}

table.simplelist td {
    display: list-item;
    list-style:  initial;
    margin-left: 1em;
}

/* Masthead navigation styles */

.wide {
    width: 100%;
    float: none;
    clear: both;
}

.navtitle {
    text-align: center;
    margin: 0.5em;
    font-size: x-large;
    font-weight: bold;
}

.navup {
    text-align: right;
    float: right;
}

.half {
    max-width: 45%;
}

.left {
    float: left;
    text-align: left;
}

.right {
    float: right;
    text-align: right;
}

div.navheader {
    border-bottom: solid 1px black;
    margin-bottom: 1em;
    min-height: 6em;
    background-color: #B6DEEF;
    background: linear-gradient(to bottom, #B6DEEF, white);
    padding: 1em;
}


/* ToC inter-section gap */

dl.toc dd {
    margin-bottom: 0;
}

div.toc * {
    line-height: 1.1em;
    margin-bottom: 1em;
}


/* Permalink fixes */

span.permalinkicon {
    margin-right: 1em;
    color: #aaa;
    font-size: 75%;
    display: none;
}

p:hover span.permalinkicon {
    display: inline;
}