%META:TOPICPARENT{name="UDASystemRequirements"}%

==System Requirements==

===What if my operating system version is newer than the officially supported version? ===

<nop>OpenLink's software designed for upward compatibility, and should function on the newer platform.

On rare occasions, you may need to relink a database agent, or in the case of <nop>FreeBSD, to work around {{{libm.so}}} version increments. Contact <nop>OpenLink Product Support, if you encounter any difficulties or have any problems.